<p id="notice"><%= notice %></p>

<h1>Posts</h1>




  <div class="album text-muted" align="center">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="card" style="width: 18rem;">
        <strong class="card-title"><%= post.title %></strong>
        <p class="card-text"><%= post.description %></p>
      </div>
      <% end %>
    </div>
  </div>


<br>

<%= link_to 'New Post', new_post_path %>

<p>
<% if user_signed_in? %>
  <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
<% else %> 
  <%= link_to 'Se connecter', new_user_session_path %>
<% end %>
</p>